
#cadre {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
    background-color: #3498db;
    width: 50%;
    border: 2px solid black;
}

li{
    text-decoration: none;
    list-style-type: none;
}
ul{
    padding:0px
}
